---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="shortcut icon" type="image/x-icon" href="/o_220109025256_cat.png?">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>

  <footer>
    <!--live2d-->
    <html xmlns="http://www.w3.org/1999/xhtml">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Live2D</title>
    
    <link rel="stylesheet" type="text/css" href="https://blog-static.cnblogs.com/files/blogs/726818/flat-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://blog-static.cnblogs.com/files/blogs/726818/kanban1.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <div class="kanban" id="kanban">
    <div class="kanban-tips" style="opacity: 1;"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="kanban-tool">
    <span class="fui-eye"></span>
    <span class="fui-photo"></span>
    <span class="fui-info-circle"></span>
    <span class="fui-cross"></span>
    </div>
    </div>
    <script src="https://blog-static.cnblogs.com/files/blogs/726818/live2d.min.js"></script>
    <script src="https://blog-static.cnblogs.com/files/blogs/726818/kanban-tips.js"></script>
    <script type="text/javascript">initModel()</script>
    <!--live2dend-->
  </footer>
</html>
