---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
    <head>
        {% include head.html %}
        {% include head/custom.html %}
        <link rel="shortcut icon" type="image/x-icon" href="/o_220109025256_cat.png?">


        <script src="https://cdn.jsdelivr.net/gh/Wind-2375-like/Wind-2375-like.github.io/autoload.js"></script>


        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"/>
        <script src="//cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" defer="defer"></script>
        <script
            src="//cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"
            defer="defer"
            onload='renderMathInElement(document.body, { delimiters: [{left: "$$", right: "$$", display: true}, { left: "$", right: "$", display: false }, {left: "\\(", right: "\\)", display: false}, {left: "\\[", right: "\\]", display: true}]})'
        ></script>
        <script
            src="//cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/mathtex-script-type.min.js"
            defer="defer"
        ></script>


        <style>
            pre.language-mermaid,
            code.language-mermaid {
            display: none;
            }
        </style>
        <script
            src="https://cdn.jsdelivr.net/npm/mermaid@8.7.0/dist/mermaid.min.js"
            defer="defer"
            onload='
            for(let x of document.getElementsByClassName("language-mermaid"))
                if(x.nodeName=="CODE")
                {
                let m = document.createElement("div");
                m.classList.add("mermaid");
                m.textContent = x.textContent;
                x.parentNode.insertAdjacentElement("beforebegin", m);
                }'
        ></script>


        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/combine/npm/prismjs@1.21.0/plugins/line-numbers/prism-line-numbers.min.css,npm/prismjs@1.21.0/plugins/toolbar/prism-toolbar.min.css,npm/prismjs@1.21.0/plugins/match-braces/prism-match-braces.min.css,npm/prism-themes@1.4.0/themes/prism-nord.min.css"
        />
        <script
            src="https://cdn.jsdelivr.net/combine/npm/prismjs@1.21.0/components/prism-core.min.js,npm/prismjs@1.21.0/plugins/autoloader/prism-autoloader.min.js,npm/prismjs@1.21.0/plugins/line-numbers/prism-line-numbers.min.js,npm/prismjs@1.21.0/plugins/toolbar/prism-toolbar.min.js,npm/prismjs@1.21.0/plugins/match-braces/prism-match-braces.min.js"
            async="async"
            data-autoloader-path="https://cdn.jsdelivr.net/npm/prismjs@1.21.0/components/"
            onload='
                document.body.classList.add("line-numbers","match-braces");
                Prism.plugins.toolbar.registerButton("select-code", function (env) {
                let button = document.createElement("button");
                button.textContent = "select this " + env.language;
                button.addEventListener("click", function () {
                    if (document.body.createTextRange) {
                    let range = document.body.createTextRange();
                    range.moveToElementText(env.element);
                    range.select();
                    } else if (window.getSelection) {
                    let selection = window.getSelection();
                    let range = document.createRange();
                    range.selectNodeContents(env.element);
                    selection.removeAllRanges();
                    selection.addRange(range);
                    }
                });
                return button;
            })'
        ></script>
    </head>

    <body>

        {% include browser-upgrade.html %}
        {% include masthead.html %}

        {{ content }}

        <div class="page__footer">
        <footer>
            {% include footer/custom.html %}
            {% include footer.html %}
        </footer>
        </div>

        {% include scripts.html %}

    </body>
</html>
